@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500&display=swap');



:root{

  --primary-white: #fff;
  --primary-blue:#3e4a6e;
  --secondy-blue: #417bb7;
  --primary-green: #2d8c29;
  --primary-orang: rgb(253, 167, 8);
  --primary-red:#f91d02;
  --primary-dark: rgba(255,255,255,0);
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body{
  font-family: 'Barlow', sans-serif;
  background-color:  rgba(36,35,35,1);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*******************Navbar********************/

.logo{
  width: 16.25rem;
  transition: transform 1s ease-in-out;
  padding: 0.1875rem;
  border: 0.1875rem solid var(--primary-dark);

}
.logo:hover{
 /* transform: rotate(360deg);*/
  border: 0.1575rem solid var(--secondy-blue);
  padding: 0.1875rem;
  border-radius: 0.9375rem;
}
.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important ;
}

nav a.nav-link{
  font-weight: 300;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  
}

nav ul li{
  text-transform: uppercase;
}
.navbar-nav  li  a {
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
  border-bottom: 0.1875rem solid var(--primary-dark);
  margin-left: 0.75rem;
  font-weight: 600;
}

.navbar-nav  li  a:focus{
  border-bottom: 0.1875rem solid var(--secondy-blue);
}

.navbar-nav  li  a:hover {
 border-top: 0.1875rem solid var(--primary-blue);

}
.menuicon{
  color: var(--secondy-blue);
}
#Defult_nav{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 7rem;
  z-index: 1000;
  padding: 25px 15px 15px 15px;
  align-items: center;
  top: 0;
  left: 0;

}

#Defult_nav #navbarSupportedContent{
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 1rem ;
  border-radius: 0 0 30px 30px;
}
#scrolled_nav{
  background-color:rgba(0, 0, 0, 0.438);
  position: fixed;
  height: 7rem;
  right: 0;
 /* padding: 15px 5px 15px 15px;*/
  align-items: center;
  z-index: 1000;
  width: 100%;
  box-shadow: var(--primary-orang) 2px 2px;
}

#scrolled_nav #navbarSupportedContent{
  border-radius: 30px 30px 30px 30px;
  background-color:rgba(45, 45, 45, 1);

}
#scrolled_nav .mybtn{
  visibility: hidden;
}

#scrolled_nav .navbar-nav  li  a {
  color: var(--primary-orang) !important;
  border-top: 0.1875rem solid var(--primary-dark);
  margin-left: 0.75rem;
  font-weight: 600;
}

#scrolled_nav .nav-item .active {
  border-bottom: 0.1875rem solid var(--secondy-blue);
}
#scrolled_nav .navbar-nav  li  a:hover {
  border-top: 0.1875rem solid var(--primary-blue);
 
 }


/***********************header*****************************/

.Header-wraper{
  position: relative;
  margin-top: 0;
}
@media screen and (min-width: 250px) {
  .image-left-contact{
    width: 100% !important;
    opacity: .8 !important;
  } 
  .backround-contact-us{
    height: 40vh !important;
    width: 80% !important;
    position: absolute;
    top: 0;
    align-items: center;
    margin: 2rem !important;
  }
  .CCntainer{
    position: relative !important;
    height: 130vh !important;
    background-color: #151515 !important;
    
  }
  .behaind{
    width: 80% !important;
    align-items: center;
    height: 80vh;
    position: absolute;
    bottom: 4rem;
    margin: 2rem !important;
  }
  .just_image{
    height:30vh !important;
  }
  .project{
    padding: 0px !important;
  }
  .Conta-sm{
    width: 100% !important;
  }
  .Nav-sm{
    width: 20rem !important;
   }
  .logo{
    width: 12.25rem;
    transition: transform 1s ease-in-out;
    padding: 0.1875rem;
    border: 0.1875rem solid var(--primary-dark);
  
  }
  .Header-wraper {
    position: relative;
    content: " ";
    width: 100%; 
    height: 60vh;
    opacity: .9; 
    background: url(./Assest/backimage2.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .main-info{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 80%;
    height: 20vh; 
    display: block;
    z-index: 1;
    align-items: center;
    margin:1rem 2rem 6rem 2rem;
  }
  .Headertext1{
    color: var(--primary-orang);
    margin: auto;
    margin-bottom: 5rem;
    text-align: center;
    width: 75%;
    font-size: 3.3vw;
    font-weight: bold;
    z-index: 1;
    text-transform: uppercase;
    text-shadow: 0.125rem 0.125rem #282c34;
    display: block;
    padding-left: 1rem;

  }
  .typed_style{
    display: block;
    font-size: 4vw;
    color: var(--primary-blue);
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    text-shadow: 1px 1px var(--secondy-blue);
    font-weight: bold;
    margin-bottom: 3rem;
  }
  #getstarted{
    display: block;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 0.385rem;
    font-size: 0.55rem;
    padding: 0.55rem;
    font-weight: 700;
    width: 35%;
    margin: auto;
    z-index: 8;
    box-shadow: 3px 5px;
    color: #000;
  
  }
  #getstarted:hover{
    border: none;
    border-radius: 0.385rem;
    background-color: black;
    color: var(--primary-blue);
    font-weight: 500;
    transition: 2s ease-in-out;
  }
  .mybtn{
    background-color: var(--secondy-blue);
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    border: 0.184rem solid var(--primary-dark);
    border-radius: 0.385rem;
    font-size: 1.3rem;
  }
  .mybtn:hover{
    color: var(--secondy-blue);
    background-color: var(--primary-dark);
    border: 0.184rem solid var(--secondy-blue);
  
  }
}
@media screen and (min-width: 400px) {
  .image-left-contact{
    width: 100% !important;
    opacity: .8 !important;
  } 
  .backround-contact-us{
    height: 40vh !important;
    width: 80% !important;
    position: absolute;
    top: 0;
    align-items: center;
    margin: 2rem !important;
  }
  .CCntainer{
    position: relative !important;
    height: 130vh !important;
    background-color: #151515 !important;
    
  }
  .behaind{
    width: 80% !important;
    align-items: center;
    height: 80vh;
    position: absolute;
    bottom: 1rem;
    margin: 2rem !important;
  }
  .just_image{
    height:30vh !important;
  }
  .project{
    padding: 0px !important;
  }
  .Conta-sm{
    width: 100% !important;
  }
  .Nav-sm{
    width: 20rem !important;
   }
  .Header-wraper {
    position: relative;
    content: " ";
    width: 100%; 
    height: 50vh;
    opacity: .9; 
    background: url(./Assest/backimage2.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .main-info{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 80%;
    height: 20vh; 
    display: block;
    z-index: 1;
    align-items: center;
    margin:1rem 2rem 6rem 2rem;
    padding-left: 1rem;
  }
  .Headertext1{
    color: var(--primary-orang);
    margin: auto;
    margin-bottom: 5.7rem;
    text-align: center;
    width: 75%;
    font-size: 3.3vw;
    font-weight: bold;
    z-index: 1;
    text-transform: uppercase;
    text-shadow: 0.125rem 0.125rem #282c34;
    display: block;

  }
  .typed_style{
    display: block;
    font-size: 4vw;
    color: var(--primary-blue);
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    text-shadow: 0.1rem 0.1rem var(--secondy-blue);
    font-weight: bold;
    margin-bottom: 3rem;
  }
  .getstarted{
    display: block;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 0.385rem;
    font-size: 0.72rem;
    padding: 0.55rem;
    font-weight: 900;
    box-shadow: 2px 4px;
    width: 25%;
    margin: auto;
    z-index: 8;
  
  }
  .getstarted:hover{
    border: none;
    border-radius: 0.385rem;
    background-color: black;
    color: var(--primary-blue);
    font-weight: 500;
    transition: 2s ease-in-out;
  }
  .mybtn{
    background-color: var(--secondy-blue);
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    border: 0.184rem solid var(--primary-dark);
    border-radius: 0.385rem;
    font-size: 1.3rem;
  }
  .mybtn:hover{
    color: var(--secondy-blue);
    background-color: var(--primary-dark);
    border: 0.184rem solid var(--secondy-blue);
  
  }
}
@media screen and (min-width: 500px) {
  .image-left-contact{
    width: 100% !important;
    opacity: .8 !important;
  } 
  .backround-contact-us{
    height: 20vh !important;
    width: 80% !important;
    position: absolute;
    top: 0;
    align-items: center;
    margin: 2rem !important;
  }
  .CCntainer{
    position: relative !important;
    height: 130vh !important;
    background-color: #151515 !important;
  }
  .behaind{
    width: 80% !important;
    align-items: center;
    height: 80vh;
    position: absolute;
    bottom: 1rem;
    margin: 2rem !important;
  }
  .just_image{
    height:40vh !important;
  }
  .Header-wraper {
    position: relative;
    content: " ";
    width: 100%; 
    height: 70vh;
    opacity: .9; 
    background: url(./Assest/backimage2.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .main-info{
    position: absolute;
    top: 8rem;
    text-align: center;
    width: 80%;
    height: 20vh; 
    display: block;
    z-index: 1;
    align-items: center;
    margin:1rem 2rem 10rem 5rem;
    padding-left: 2rem;
  }
  .Headertext1{
    color: var(--primary-orang);
    margin: auto;
    margin-bottom: 5.7rem;
    text-align: center;
    width: 75%;
    font-size: 3.7vw;
    font-weight: bold;
    z-index: 1;
    text-transform: uppercase;
    text-shadow: 0.125rem 0.125rem #282c34;
    display: block;

  }
  .typed_style{
    display: block;
    font-size: 4vw;
    color: var(--primary-blue);
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    text-shadow: 0.1rem 0.1rem var(--secondy-blue);
    font-weight: bold;
    margin-bottom: 3rem;
  }
  .getstarted{
    display: block;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 0.385rem;
    font-size: 0.8rem;
    padding: 0.55rem;
    font-weight: 900;
    box-shadow: 2px 4px;
    width: 25%;
    margin: auto;
    z-index: 8;
  
  }
  .getstarted:hover{
    border: none;
    border-radius: 0.385rem;
    background-color: black;
    color: var(--primary-blue);
    font-weight: 500;
    transition: 2s ease-in-out;
  }
  .mybtn{
    background-color: var(--secondy-blue);
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    border: 0.184rem solid var(--primary-dark);
    border-radius: 0.385rem;
    font-size: 1.3rem;
  }
  .mybtn:hover{
    color: var(--secondy-blue);
    background-color: var(--primary-dark);
    border: 0.184rem solid var(--secondy-blue);
  
  }
}
@media screen and (min-width: 600px) {
  .behaind{
    top: 0;
    width: 40% !important;
    position: absolute !important;
    right: 0 !important;
    margin-right: 10% !important;
  }
  .image-left-contact{
    width: 100% !important;
    opacity: .8 !important;
  } 
  
  .CCntainer{
    width: 100% !important;
    background-color: #151515 !important;
    height: 110vh !important;
    position: relative !important;
    padding: 10px !important;
    
  }
  
  .backround-contact-us{
    position: absolute !important;
    height: 100% !important;
    width: 40% !important;
    display: flex !important;
    justify-items: center !important;
    align-items: center !important;
  }
  .just_image{
    height:60vh !important;
  }
  .Header-wraper {
    position: relative;
    content: " ";
    width: 100%; 
    height: 100vh;
    opacity: .9; 
    background: url(./Assest/backimage2.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .main-info{
    position: absolute;
    top: 13rem;
    text-align: center;
    width: 80%;
    height: 20vh; 
    display: block;
    z-index: 1;
    align-items: center;
    margin:1rem 2rem 11rem 8rem;
    padding-left: 2rem;
  }
  .Headertext1{
    color: var(--primary-orang);
    margin: auto;
    margin-bottom: 7rem;
    text-align: center;
    width: 75%;
    font-size: 3.3vw;
    font-weight: bold;
    z-index: 1;
    text-transform: uppercase;
    text-shadow: 0.125rem 0.125rem #282c34;
    display: block;

  }
  .typed_style{
    display: block;
    font-size: 4vw;
    color: var(--primary-blue);
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    text-shadow: 0.1rem 0.1rem var(--secondy-blue);
    font-weight: bold;
    margin-bottom: 3rem;
  }
  .getstarted{
    display: block;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 0.385rem;
    font-size: 1.2rem;
    padding: 0.55rem;
    font-weight: 900;
    box-shadow: 3px 4px;
    width: 25%;
    margin: auto;
    z-index: 8;
  
  }
  .getstarted:hover{
    border: none;
    border-radius: 0.385rem;
    background-color: black;
    color: var(--primary-blue);
    font-weight: 500;
    transition: 2s ease-in-out;
  }
  .mybtn{
    background-color: var(--secondy-blue);
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    border: 0.184rem solid var(--primary-dark);
    border-radius: 0.385rem;
    font-size: 1.3rem;
  }
  .mybtn:hover{
    color: var(--secondy-blue);
    background-color: var(--primary-dark);
    border: 0.184rem solid var(--secondy-blue);
  
  }
}
@media screen and (min-width: 800px) {
  .behaind{
    width: 40% !important;
    position: absolute !important;
    right: 0 !important;
    margin-right: 10% !important;
  }
  .image-left-contact{
    width: 100% !important;
    opacity: .8 !important;
  } 
  
  .CCntainer{
    width: 100% !important;
    background-color: #151515 !important;
    height: 110vh !important;
    position: relative !important;
    padding: 10px !important;
    
  }
  
  .backround-contact-us{
    position: absolute !important;
    height: 100% !important;
    width: 40% !important;
    display: flex !important;
    justify-items: center !important;
    align-items: center !important;
  }
  .just_image{
    height:80vh !important;
  }
  .Header-wraper {
    position: relative;
    content: " ";
    width: 100%; 
    height: 130vh;
    opacity: .9; 
    background: url(./Assest/backimage2.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .main-info{
    position: absolute;
    top:23rem;
    text-align: center;
    width: 80%;
    height: 25vh; 
    display: block;
    z-index: 1;
    align-items: center;
    margin:1rem 2rem 6rem 8rem;
    padding-left: 5rem;
  }
  .Headertext1{
    color: var(--primary-orang);
    margin: auto;
    margin-bottom: 7rem;
    text-align: center;
    width: 75%;
    font-size: 3.3vw;
    font-weight: bold;
    z-index: 1;
    text-transform: uppercase;
    text-shadow: 0.125rem 0.125rem #282c34;
    display: block;

  }
  .typed_style{
    display: block;
    font-size: 4vw;
    color: var(--primary-blue);
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    text-shadow: 0.125rem 0.125rem var(--secondy-blue);
    font-weight: bold;
    margin-bottom: 3rem;
  }
  .getstarted{
    display: block;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 0.385rem;
    font-size: 1.5rem;
    padding: 0.55rem;
    font-weight: 900;
    box-shadow: 3px 5px;
    width: 25%;
    margin: auto;
    z-index: 8;
  
  }
  .getstarted:hover{
    border: none;
    border-radius: 0.385rem;
    background-color: black;
    color: var(--primary-blue);
    font-weight: 500;
    transition: 2s ease-in-out;
  }
  .mybtn{
    background-color: var(--secondy-blue);
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    border: 0.184rem solid var(--primary-dark);
    border-radius: 0.385rem;
    font-size: 1.3rem;
  }
  .mybtn:hover{
    color: var(--secondy-blue);
    background-color: var(--primary-dark);
    border: 0.184rem solid var(--secondy-blue);
  
  }
}
@media screen and (min-width: 1024px) {
  .behaind{
    width: 40% !important;
    position: absolute !important;
    right: 0 !important;
    margin-right: 10% !important;
  }
  .image-left-contact{
    width: 100% !important;
    opacity: .8 !important;
  } 
  
  .CCntainer{
    width: 100% !important;
    background-color: #151515 !important;
    height: 110vh !important;
    position: relative !important;
    padding: 10px !important;
    
  }
  
  .backround-contact-us{
    position: absolute !important;
    height: 100% !important;
    width: 40% !important;
    display: flex !important;
    justify-items: center !important;
    align-items: center !important;
  }
  .just_image{
    height:100vh !important;
  }
  .Header-wraper {
    position: relative;
    content: " ";
    width: 100%; 
    height: 150vh;
    opacity: .9; 
    background: url(./Assest/backimage2.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .main-info{
    position: absolute;
    top:20rem;
    text-align: center;
    width: 80%;
    height: 50vh; 
    display: block;
    z-index: 1;
    align-items: center;
    padding-left: 18vw;
  }
  .Headertext1{
    color: var(--primary-orang);
    margin: auto;
    margin-bottom: 12rem;
    text-align: center;
    width: 75%;
    font-size: 3.3vw;
    font-weight: bold;
    z-index: 1;
    text-transform: uppercase;
    text-shadow: 0.125rem 0.125rem #282c34;
    display: block;

  }
  .typed_style{
    display: block;
    font-size: 4vw;
    color: var(--primary-blue);
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    text-shadow: 0.125rem 0.125rem var(--secondy-blue);
    font-weight: bold;
    margin-bottom: 3rem;
  }
  .getstarted{
    display: block;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 0.385rem;
    font-size: 1.5rem;
    padding: 0.55rem;
    font-weight: 900;
    box-shadow: 3px 5px;
    width: 25%;
    margin: auto;
    z-index: 8;
  
  }
  .getstarted:hover{
    border: none;
    border-radius: 0.385rem;
    background-color: black;
    color: var(--primary-blue);
    font-weight: 500;
    transition: 2s ease-in-out;
  }
  .mybtn{
    background-color: var(--secondy-blue);
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    border: 0.184rem solid var(--primary-dark);
    border-radius: 0.385rem;
    font-size: 1.3rem;
  }
  .mybtn:hover{
    color: var(--secondy-blue);
    background-color: var(--primary-dark);
    border: 0.184rem solid var(--secondy-blue);
  
  }
}

/******services***************/

.service{
  padding: 15% 5% 15% 5%;
  position: relative;
  background-color:  rgba(36,35,35,1);


  display: block;
}
.parent-items{
  background-color: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: 00px;
  width: 100%;
  box-shadow: var(--secondy-blue) 2px 2px 2px 2px;

}
.parent-items h5{
 font-size: 45vw;
 font-weight: 700;

}

.parent-items p{
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 1.5rem;
  margin: 14px 0 75px 0;

}
.slider{
  width: 80%;
  margin: 0 auto;
  position: relative;

}

.slider .item img{
  width: 50%;
  margin: 0 auto 15px auto;

}
.background-image-left{
  position: absolute;
  transform: rotate(180deg);
  top: 2rem;
  width: 80%;
  left: 0;
  margin-left: 10%;
}

.item img{
  width: 12rem;
  height: 8rem;

}

.item h5{
  font-size: x-large;
 
}
.stoo{
  z-index: 5;
}
.parent-items h2{
  font-size: 45px;
  font-weight: 700;
}


/***************project*************/
.project{
  padding: 80px;
  position: relative;
  background-color: #151515;
}

.project h2{
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  color: var(--primary-orang);
}
.project p{
  color: var(--primary-orang);
  font-size: 18x;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 64%;
}
.project .nav.nav-pills{
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255, 255, 255 /10%);
  overflow: hidden;
  text-transform: uppercase;
  box-shadow: var(--primary-blue) 2px 2px 2px 2px;
}
.project .nav.nav-pills .nav-item{
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link{
  background: transparent;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before{
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color:var(--primary-blue);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3 ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before{
width: 100% !important;

}
.project .nav.nav-pills .nav-link.active{
  color: #000;
  text-transform: uppercase;
  font-weight:bold;
}

.proj-imgbox{
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;

}
.proj-imgbox::before{
  content: "";
  background-color: #3e4a6e;
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbox:hover::before{
  height: 100%;
}
.proj-txtx{
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;

}
.proj-imgbox:hover .proj-txtx{
  top: 50%;
  opacity: 1;
}
.proj-txtx h4{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1rem;
}
.proj-txtx span{
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.background-image-right{
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}
.tapcontent{
  margin-top: 5rem;
}

.somestyle{
   opacity: 0.4;
   background:  linear-gradient(to bottom right, var(--primary-blue), var(--secondy-blue));
   width: 100%;
   height: 700px;
   border-radius: 50px;
}
.just_image{
  background: url(./Assest/backgroundproject.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

.panecontent{
  border: 2px solid var(--secondy-blue);
  border-radius: 25px;
  padding: 25px;
}

/************************Contact**********************/

.label{
  color: var(--primary-blue);
  font-weight: 500;
}
.behaind h2{
  color: var(--primary-orang);
  text-transform: uppercase;
}
.form-control{
  resize: none;
}

/*************Footer************/
.m-1{
  border-radius: 28px !important;
}
/************signup***********/

.Signupform{
  display: block;
  background-color: #151515;
  margin-bottom: 100px;
  box-shadow:0 4px 10px rgba(1, 181, 252, 0.373); 
  margin: auto;
  padding:1rem 0 1rem 0 ;
  border-radius: 25px;
  max-width: 400px;
  width: 100%;
}
.Signupform label{
  color: var(--primary-orang);
  width: 90%;
  margin-top: 2rem;
  text-align: left;
  text-transform: uppercase;
}
.Signupform .inputtt{
  width: 90%;
  margin-top: 0rem;
  border:none;
  border-bottom:  3px solid #282c34;
  color: var(--secondy-blue);
  background-color: var(--primary-dark);
  outline:0;
}

.Signupform .inputtt:focus{
  border:0;
  background-color: var(--primary-dark);
  outline: 0;
  color: #fff;

}

.Signupform button{
  width: 70%;
  height: 3rem;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: var(--primary-orang);
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease; 
  text-indent: -100%;
  opacity: 1;
}
.Signupform h2{
  color: var(--primary-blue);
  margin-bottom: 3rem;
  text-align: center;
}
.Signupback{
  width: 100%;
  background-color:  rgba(36,35,35,1);
  padding-top: 6rem;
}


.Signupform a{
  text-align: center;
}


#cardblk {
  background-color: rgba(36,35,35,1);
  border-radius: 25px;
  margin-bottom: 50px;
}
.tet{
  color: var(--primary-orang);
}

.pagenotfond{
  align-items: center;
  width: 100%;
  text-align: center;
  
}
.passco{
  position: relative;
}
#passwordvisi{
  color: #2d8c29;
  font-size: 12px;
  width: 35px;
  right: 35px;
  position: absolute;
  top: 36px;
}
